@page "/"
<Header @bind-IsVisibleAnswer="ShowAnwser" ></Header>
<div class="container-form">
    <div class="row-form">
        <div class="col-3">
            <div class="sidebar">

            </div>
        </div>
        <div class="col-9">
            <div class="questionforms container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm" style="padding-right:0px;">
                                <div class="container-question">
                                    <span class="span-ordernumber">@(Questions[IndexQuestion].OrderNumber)</span>
                                    <div class="card" style="width:98%;">
                                        <div class="card-body">
                                            @Questions[IndexQuestion].Question
                                        </div>
                                    </div>
                                </div>
                                @foreach (var O in Questions[IndexQuestion].Options)
                                {
                                    <div class="container-check correct">
                                        <input type="radio" style="margin-top:9px;" name="@Questions[IndexQuestion].OrderNumber" class="checkmark radio">
                                        @if (ShowAnwser)
                                        {
                                            @if (O.IsCorrect == true)
                                            {
                                                <div class="w-25 p-3" style="color:green">@O.TextOption</div>
                                            }
                                            else
                                            {
                                                <div class="w-25 p-3" style="color:red">@O.TextOption</div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="w-25 p-3">@O.TextOption</div>
                                        }
                                    </div>
                                };
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<Footer @bind-IndexQuestion="IndexQuestion" TotalQuestion="Questions.Count"></Footer>


@code {

    bool ShowAnwser { get; set; }


    int IndexQuestion { get; set; }


    List<CreateQuestionDTO> Questions = new List<CreateQuestionDTO>()
    {
        new CreateQuestionDTO()
       {
           TopicId = 1,
           OrderNumber = 1,
           Question = "Esta es la pregunta 1 Un párrafo es una unidad de un texto compuesta por una o varias oraciones, que comienza con una mayúscula y que termina con un punto y aparte. Los textos se organizan de manera tal que cada párrafo trata sobre una idea central. Generalmente, la primera oración de cada párrafo suele explicitar cuál es el punto principal que se desarrollará.",
           Options = new List<CreateOptionDTO>()
           {
               new CreateOptionDTO()
               {
                   TextOption = "Esta es la Respuesta correcta",
                   IsCorrect = true,
               },
               new CreateOptionDTO()
               {
                   TextOption = "Esta es la Respuesta incorrecta",
                   IsCorrect = false,
               },
                new CreateOptionDTO()
               {
                   TextOption = "Esta es la Respuesta incorrecta",
                   IsCorrect = false,
               }
           }.Shuffle()
         },
        new CreateQuestionDTO()
        {
           TopicId = 1,
           OrderNumber = 2,
           Question = "Esta es la pregunta 2 Un párrafo es una unidad de un texto compuesta por una o varias oraciones, que comienza con una mayúscula y que termina con un punto y aparte. Los textos se organizan de manera tal que cada párrafo trata sobre una idea central. Generalmente, la primera oración de cada párrafo suele explicitar cuál es el punto principal que se desarrollará.",
           Options = new List<CreateOptionDTO>()
           {
               new CreateOptionDTO()
               {
                   TextOption = "Esta es la Respuesta correcta",
                   IsCorrect = true,
               },
               new CreateOptionDTO()
               {
                   TextOption = "Esta es la Respuesta incorrecta",
                   IsCorrect = false,
               },
                new CreateOptionDTO()
               {
                   TextOption = "Esta es la Respuesta incorrecta",
                   IsCorrect = false,
               }
            }.Shuffle()
         },
        new CreateQuestionDTO()
        {
           TopicId = 1,
           OrderNumber = 3,
           Question = "Esta es la pregunta 3 Un párrafo es una unidad de un texto compuesta por una o varias oraciones, que comienza con una mayúscula y que termina con un punto y aparte. Los textos se organizan de manera tal que cada párrafo trata sobre una idea central. Generalmente, la primera oración de cada párrafo suele explicitar cuál es el punto principal que se desarrollará.",
           Options = new List<CreateOptionDTO>()
           {
               new CreateOptionDTO()
               {
                   TextOption = "Esta es la Respuesta correcta",
                   IsCorrect = true,
               },
               new CreateOptionDTO()
               {
                   TextOption = "Esta es la Respuesta incorrecta",
                   IsCorrect = false,
               },
                new CreateOptionDTO()
               {
                   TextOption = "Esta es la Respuesta incorrecta",
                   IsCorrect = false,
               }
           }.Shuffle()
        }
    };


    void ShowAnswerQuestion()
    {
        ShowAnwser = true;
    }


}